<html>
    <head th:include="fragments/head :: head"></head>
    <body>
        <div class="container" th:include="fragments/header :: header"></div>
        
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Alueet</li>
            </ol>
            
            <h2 th:text="${kuvaus}">kuvaus</h2><br />
            
            <ul>
                <li class="panel panel-default" th:each="alueet: ${alueet}">
                    <a th:href="${alueet.url}"><span th:text="${alueet.nimi}">Alue</span></a>
                </li>
            </ul>
        </div>

        <div class="container" th:include="fragments/footer :: footer"></div>
    </body>
</html>
