<h2 th:text="${kuvaus}">kuvaus</h2>
<a href="http://localhost:4567/alueet">Palaa alkuun</a><br/>
<i>Lisää tänne viesti kopioimalla osoitekenttään viestien perässä oleva osoite!</i>
<ul>
    <li th:each="viestit: ${viestit}">
        <span th:text="${viestit.sisalto}">viesti</span>
         t: 
        <span th:text="${viestit.nickname}">kayttis</span>
         (Lähetetty: <span th:text="${viestit.aika}">aika</span>)
          Lisäysosoite: <span th:text="${viestit.lisaysUrl}">lisaysurl</span>
    </li>
</ul>
